*{
    margin: 0px;
    padding: 0px;
}
.title{
    width:100%;
   
}
.title>.header{ 
   width: 100%;
   height: 30px;
   background: #000;
   position: fixed;
    top:0;
    left:0;
    bottom: 0;
    z-index: 10000;
}
.title>.header>ul{
    float: right;
    list-style-type: none;
}
.title>.header>ul>li{
    float: left;
    width: 70px;
    line-height: 30px;
}
.title>.header>ul>li>a{
    text-decoration: none; 
    font-size: 10px; 
    color: rgb(206, 203, 203);
}
.title>.header>ul>li>a:hover{
    color: rgb(241, 219, 12);
}
nav.navbar{
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 10000;
}
.career{
    width: 100%;
    height: auto;
    background: rgb(245, 245, 245);
}
.nv>a{
    font-size: 15px;
    color: #000;
}
.nv>a:hover{
    color: #f00;
}
.recruit>.textIndent{
  font-size: 16px;
  line-height: 30px;
}
.page{
    margin-left: 20px;
}
.page>p{
    border: 1px solid rgb(194, 194, 194);
}
.content{
    margin-top: 20px;
}
.content>.content-one{
    font-size: 16px;
    line-height: 30px;
}
.content>.content-two{
    font-weight: bold;
    font-size: 16px;
}
.footer{
    width: 100%;
    height: 260px;
    border: 1px solid #000;
    background: rgb(34, 34, 34);
    
}
.footer>.footer-one{
    width: 100px;
    height: 120px;
  
    float: left;
    margin-left: 120px;
    margin-right: -60px;
}
.footer>.footer-one>h3{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color:#fff;
}
.footer>.footer-one>p{
    text-align: center;
    line-height: 6px;  
}
.footer>.footer-one>p>a{
    color: rgb(126, 123, 123);
    font-size: 13px;
}
.footer>.copyright{
    width: 100%;
    height: 55px;
    background: #000;
    margin-top: 205px;
}
.footer>.copyright>p{
    line-height: 55px;
    margin-left: 100px;
    color: #cac7c7;
}
.footer>.copyright>p>a{
    margin-left: 580px;
    color:  #cac7c7;
}
/*content start*/
@media screen and (max-width: 720px){
    img.img-three{
        width:100%;
    }
    div.con-one>.img-solid{
        width:106%;
        height:2px;
    }
}
.con-one{
    width:100%;
    padding:0 10px;
}
.con-one>.img-tit{
    width:118px;
    margin-top:5%;
}
.con-one>.img-solid{
    width:100%;
    height:2px;
}
.pub{
    position: relative;
    overflow: hidden;
}
.pub>img{
    float: left;
    margin-left:7%; 
}
.pub p{
    color:#252525;
}
.txt-one{
    font-size:1.8em;
    line-height:50px;
    color:#252525;
}
div .txt-one:hover{
    color: #00f;
}
.col-lg-6{
    position: relative;
}
.col-lg-6>img{
    float: left;
    margin-left:9%;
}
.main{
    text-align:center;
}
.main>div>p{
    font-size:1.15em;
}
.main>div>p.txt-two{
    font-size:1.8em;
}
.textIndent{
    margin-top:20px;
    font-size:1.2em;
    line-height:28px;
}
.img-three{
    width:55%;
}
.txt-a{
    font-size:1.13em;
    line-height:28px;
}
.table{
    font-size:1.15em;
}
thead>tr>th{
    text-align:center;
}